Flask==1.1.2
gunicorn==20.0.4
idna==2.9
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
javascripthon==0.11
jedi==0.17.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
macropy3==1.1.0b2
MarkupSafe==1.1.1
Werkzeug==1.0.1
